body, html {
	overflow: hidden;
}
html {
	background: #111;
	overflow: hidden;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

header {
	background-color: rgb(14,14,14);
	align-items: center;
	position: absolute;
	min-height: 4.5vw;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

#headerName {
	position: fixed;
	text-align: center;
	margin: 0;
	left: 50%;
	transform: translate(-45%);
	color:#E8C162;
	font-size:1.8vw;
	visibility: hidden;
}


#main {
	max-width: 100vw;
	max-height: 100vh;
	overflow-y: visible;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	vertical-align: top;
	text-align: inherit;
	align-items: center;
}

#main section {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin-bottom: 50px;
	left: 0
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	scroll-snap-align: start;
}

#centerName {
	text-align: center;
	position: relative;
	font-size: 1.8vw;
	color:#E8C162;
	margin: 0;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
}

#AboutMe {
	padding-top: 10%;
}

#aboutMeSection {
	float: left;
	padding-left: 10%;
	padding-top: 2%;
	max-width: 20%;
	height: auto;
	position: relative;
	text-align: center;
}

#aboutMeTitle {
	color:#E8C162;
	font-size: calc(18px + (22 - 18) * ((100vw - 750px) / (1250 - 750)));
}

#aboutMeInfo {
	color:#666;
	font-size: calc(16px + (19 - 16) * ((100vw - 750px) / (1250 - 750)));
}

#aboutMePicture {
	width: 25vw;
	float: right;
	padding-right: 10%;
	top: 37%;
	transform: translate(0, -50%);
	position: relative;
	visibility: visible;
}

#personalPicture {
	top: 20vh;
	width: 25vw;
	height: auto;
}

#Experience {
	position: relative;
}

#Pluto {
	display: flex;
	position: relative;
	margin-top: 8vh;
	width: 100vw;
	height: 30vh;
	justify-content: flex-start;
	align-items: flex-start;
	vertical-align: middle;
}

#plutoPicture {
	position: relative;
	width: 10vw;
	height: 10vw;
	top: 50%;
	left: 2vw;
	transform: translate(0%, -50%);
}

#plutoName {
	font-size: calc(26px + (30 - 26) * ((100vw - 750px) / (1250 - 750)));
	position: relative;
	top: 6vh;
	left: 4vw;
	color: #E8C162;
	flex-grow: -1;
}

#plutoInfo {
	position: relative;
	max-width: 70vw;
	top: 10.5vh;
	left: -7vw;
	color:#666;
	font-size: calc(16px + (19 - 16) * ((100vw - 750px) / (1250 - 750)));
	flex-grow: -1;
}

#DeveloperTown {
	display: flex;
	width: 100vw;
	height: 30vh;
	justify-content: flex-start;
	align-items: flex-start;
	vertical-align: middle;
}


#DTStartsPicture {
	position: relative;
	width: 10vw;
	height: 10vw;
	top: 50%;
	left: 2vw;
	transform: translate(0%, -50%);
}

#DTName {
	font-size: calc(26px + (30 - 26) * ((100vw - 750px) / (1250 - 750)));
	position: relative;
	top: 6vh;
	left: 4vw;
	color: #E8C162;
	flex-grow: -1;
}

#DTInfo {
	position: relative;
	max-width: 70vw;
	top: 10.5vh;
	left: -9.7vw;
	color:#666;
	font-size: calc(16px + (19 - 16) * ((100vw - 750px) / (1250 - 750)));
	flex-grow: -1;
}

#VendorJump {
	display: flex;
	width: 100vw;
	height: 30vh;
	justify-content: flex-start;
	align-items: flex-start;
	vertical-align: middle;
}

#vendorJumpPicture {
	position: relative;
	width: 10vw;
	height: 10vw;
	top: 50%;
	left: 2vw;
	transform: translate(0%, -50%);
	flex-grow: -1;
}

#vendorJumpName {
	font-size: calc(26px + (30 - 26) * ((100vw - 750px) / (1250 - 750)));
	position: relative;
	top: 6vh;
	left: 4vw;
	color: #E8C162;
	flex-grow: -1;
}

#vendorJumpInfo {
	position: relative;
	max-width: 70vw;
	top: 10.5vh;
	left: -7vw;
	color:#666;
	font-size: calc(16px + (19 - 16) * ((100vw - 750px) / (1250 - 750)));
	flex-grow: -1;
}

.ContactMe {
	align-items: center;
	align-content: center;
}

#contactMeSection {
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	align-items: center;
	align-content: center;
}

.ContactMe h1 {
	text-align: center;
	font-size: calc(26px + (30 - 26) * ((100vw - 750px) / (1250 - 750)));
	color: #E8C162;
	margin-bottom: 3%;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 4px;
}

.name, .email, .message {
	text-align: center;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #E8C162;
	color: #E8C162;
	padding: 10px 6px;
	font-size: 14px;
	margin-bottom: 40px;
}

.name {
	margin-left: 17.5%;
	width: 30%;
}

.email {
	margin-left: 5%;
	width: 30%;
}

.message {
	display: block;
	margin: auto;
	align-self: center;
	min-width: 70%;
	max-width: 70%;
}

.ContactMe button {
	background: none;
	color: #E8C162;
	border: 1px solid #E8C162;
	padding: 12px 40px;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.4s linear;
	cursor: pointer;
	margin-top: 4%;
	margin-left: 50%;
	transform: translate(-50%);
}


.ContactMe button:hover {
	background: #E8C162;
	color: black;
}

@@media screen and (max-width: 600px) {
	.name, .email {
		width: 100%;
	}
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.illustration-editor {
	margin-top: -2rem;
	margin-right: -10rem;
	display: grid;
	grid-template-rows: 24px auto;
	justify-items: center;
	position: relative;
}
.code {
	position: absolute;
	width: 290px;
	height: 145px;
	background: #1d1e22;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	z-index: 5;
}
.code codeHeader {
	display: grid;
	grid-template-columns: 36px auto 36px;
	align-items: center;
}
.code codeHeader svg {
	margin: 10px;
}
.code codeHeader h1 {
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-size: 14px;
	letter-spacing: 1.57px;
	color: #c5c8d4;
	margin: 0;
}
.code-html {
	left: 14.3vw;
	top: 20.4vh;
}
.code-css {
	left: 62.5vw;
	top: 43.5vh;
}
.code-js {
	left: 20.2vw;
	top: 65vh;
}
.code .code-content {
	margin: 0 10px 10px;
	color: white;
}
.code .code-content .c-r {
	color: #a88038;
}
.code .code-content .c-o {
	color: #de7300;
}
.code .code-content .c-y {
	color: #e1ca72;
}
.code .code-content .c-g {
	color: #74b087;
}
.code .code-content .c-p {
	color: #9f8198;
}
.code .code-content .c-b {
	color: #7a99ad;
}
.code .code-content .c-c {
	color: #666;
}
.code-css .code-content code .line-1 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-2 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-3 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-4 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-5 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-1 {
	animation: typing-1 3s 0s steps(30, end) forwards, cursor 1s linear 0s 3;
}
.code-css .code-content code .line-2 {
	animation: typing-2 3s 3s steps(30, end) forwards, cursor 1s linear 3s 3;
}
.code-css .code-content code .line-3 {
	animation: typing-3 3s 6s steps(30, end) forwards, cursor 1s linear 6s 3;
}
.code-css .code-content code .line-4 {
	animation: typing-4 3s 9s steps(30, end) forwards, cursor 1s linear 9s 3;
}
.code-css .code-content code .line-1, .code-css .code-content code .line-3, .code-css .code-content code .line-4 {
	animation-duration: 1s;
	animation-timing-function: steps(10, end);
}
.code-css .code-content code .line-5 {
	border-color: transparent;
	animation: typing-5 3s 12s steps(30, end) forwards, cursor-persist 1s linear 12s infinite;
}
.code-css .code-content code .line-2 {
	margin-left: 2rem;
}
.code-css .code-content code .line-3, .code-css .code-content code .line-4, .code-css .code-content code .line-5 {
	margin-left: 2rem;
}
.editor-block {
	position: relative;
	display: block;
	width: 500px;
	height: 421px;
	background: #111;
	border-radius: 10px;
}
@keyframes typing-1 {
	from {
		width: 0;
	}
	to {
		width: 55px;
	}
}
@keyframes typing-2 {
	from {
		width: 0;
	}
	to {
		width: 150px;
	}
}
@keyframes typing-3 {
	from {
		width: 0;
	}
	to {
		width: 100px;
	}
}
@keyframes typing-4 {
	from {
		width: 0;
	}
	to {
		width: 107px;
	}
}
@keyframes typing-5 {
	from {
		width: 0;
	}
	to {
		width: 160px;
	}
}
@keyframes cursor {
	from, to, 20%, 80% {
		border-color: transparent;
	}
	25%, 75% {
		border-color: white;
	}
}
@keyframes cursor-persist {
	from, 45% {
		border-color: transparent;
	}
	50%, to {
		border-color: white;
	}
}
