html {
	background: #111;
	overflow: hidden;
}

header {
	background-color: rgb(14,14,14);
	align-items: center;
	position: absolute;
	min-height: 4.5vw;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

#headerName {
	position: fixed;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	left: 50%;
	transform: translate(-45%);
	margin: 0;
	visibility: hidden;
	color:#E8C162;
	font-size:1.8vw;
}

#main {
	vertical-align: top;
	max-width: 100%;
	text-align: inherit;
	max-height: 100%;
	overflow-y: visible;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	align-items: center;
}

#main section {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: auto;
	left: 0
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	scroll-snap-align: start;
}

#centerName {
	background-color: rgba(0,0,0,0);
	font-family: 'Raleway', sans-serif;
	text-align: center;
	position: relative;
	font-size: 1.8vw;
	color:#E8C162;
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#codeBlocks {
	visibility: visible;
}


#aboutMeSection {
	background-color: rgba(0,0,0);
	font-family: 'Raleway', sans-serif;
	top: 10%;
	left: 10%;
	max-width: 20%;
	height: auto;
	position: relative;
	text-align: center;
}

#aboutMeTitle {
	color:#E8C162;
	font-size: calc(18px + (25 - 18) * ((100vw - 750px) / (1250 - 750)));
}

#aboutMeInfo {
	color:#666;
	font-size: calc(16px + (20 - 16) * ((100vw - 750px) / (1250 - 750)));
}

#aboutMePicture {
	background-color: rgb(0,0,0);
	width: 25vw;
	left: 60vw;
	top: -50%;
	transform: translate(0%,-9%);
	position: relative;
	visibility: visible;
}

#picture {
	width: 25vw;
	height: auto;
}

.illustration-editor {
	margin-top: -2rem;
	margin-right: -10rem;
	display: grid;
	grid-template-rows: 24px auto;
	justify-items: center;
	position: relative;
}
.code {
	position: absolute;
	width: 290px;
	height: 145px;
	background: #1d1e22;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	z-index: 5;
}
.code codeHeader {
	display: grid;
	grid-template-columns: 36px auto 36px;
	align-items: center;
}
.code codeHeader svg {
	margin: 10px;
}
.code codeHeader h1 {
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-size: 14px;
	letter-spacing: 1.57px;
	color: #c5c8d4;
	margin: 0;
}
.code-html {
	left: 14.3vw;
	top: 20.4vh;
}
.code-css {
	left: 62.5vw;
	top: 43.5vh;
}
.code-js {
	left: 20.2vw;
	top: 65vh;
}
.code .code-content {
	margin: 0 10px 10px;
	color: white;
}
.code .code-content .c-r {
	color: #a88038;
}
.code .code-content .c-o {
	color: #de7300;
}
.code .code-content .c-y {
	color: #e1ca72;
}
.code .code-content .c-g {
	color: #74b087;
}
.code .code-content .c-p {
	color: #9f8198;
}
.code .code-content .c-b {
	color: #7a99ad;
}
.code .code-content .c-c {
	color: #666;
}
.code-css .code-content code .line-1 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-2 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-3 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-4 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-5 {
	width: 0%;
	margin: 0;
	border-right: 0.15em solid transparent;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
.code-css .code-content code .line-1 {
	animation: typing-1 3s 0s steps(30, end) forwards, cursor 1s linear 0s 3;
}
.code-css .code-content code .line-2 {
	animation: typing-2 3s 3s steps(30, end) forwards, cursor 1s linear 3s 3;
}
.code-css .code-content code .line-3 {
	animation: typing-3 3s 6s steps(30, end) forwards, cursor 1s linear 6s 3;
}
.code-css .code-content code .line-4 {
	animation: typing-4 3s 9s steps(30, end) forwards, cursor 1s linear 9s 3;
}
.code-css .code-content code .line-1, .code-css .code-content code .line-3, .code-css .code-content code .line-4 {
	animation-duration: 1s;
	animation-timing-function: steps(10, end);
}
.code-css .code-content code .line-5 {
	border-color: transparent;
	animation: typing-5 3s 12s steps(30, end) forwards, cursor-persist 1s linear 12s infinite;
}
.code-css .code-content code .line-2 {
	margin-left: 2rem;
}
.code-css .code-content code .line-3, .code-css .code-content code .line-4, .code-css .code-content code .line-5 {
	margin-left: 2rem;
}
.editor-block {
	position: relative;
	display: block;
	width: 500px;
	height: 421px;
	background: #111;
	border-radius: 10px;
}
@keyframes typing-1 {
	from {
		width: 0;
	}
	to {
		width: 55px;
	}
}
@keyframes typing-2 {
	from {
		width: 0;
	}
	to {
		width: 150px;
	}
}
@keyframes typing-3 {
	from {
		width: 0;
	}
	to {
		width: 100px;
	}
}
@keyframes typing-4 {
	from {
		width: 0;
	}
	to {
		width: 107px;
	}
}
@keyframes typing-5 {
	from {
		width: 0;
	}
	to {
		width: 160px;
	}
}
@keyframes cursor {
	from, to, 20%, 80% {
		border-color: transparent;
	}
	25%, 75% {
		border-color: white;
	}
}
@keyframes cursor-persist {
	from, 45% {
		border-color: transparent;
	}
	50%, to {
		border-color: white;
	}
}
